FLASK_APP=run.py
FLASK_ENV=development
APP_ENV=development
SWAGGER_ENABLED=true

DB_HOST=postgres
DB_PORT=5432
DB_NAME=wp_labs
DB_USER=student
DB_PASSWORD=your_password
MONGO_URI=mongodb://student:your_password@mongo:27017/wp_labs?authSource=admin

PORT=4200

JWT_ACCESS_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

YANDEX_CLIENT_ID=0f62105e99114b988a2ad5d1f6470c4d
YANDEX_CLIENT_SECRET=ad920476e2b54cb6ac5c82b6f87ec9a7
YANDEX_CALLBACK_URL=http://localhost:4200/auth/oauth/yandex/callback

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_TTL_SECONDS=60

MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minio_admin
MINIO_SECRET_KEY=minio_secure_password_change_in_prod
MINIO_BUCKET=wp-labs-files
MINIO_USE_SSL=false
MAX_FILE_SIZE=10485760
ALLOWED_FILE_MIMETYPES=image/png,image/jpeg,image/jpg,application/pdf,text/plain
